#div-op{
  text-align: center;
}

.card{
  max-width: 338px;
  width: 300px;
  max-height: 350px;
  height: 250px;
}

.solution-box {
  width: 100vw;
}
#SBS-solution-box, #skip-solution-box, .card-deck{
  padding: 0;
  margin: 0 auto;
  width: 100%;
  overflow-x: none;
}
